/* ========= common ======= */
.center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.section-title {
    font-size: 1em;
    font-weight: 700;
    line-height: 1;
}

/*=================== NAVBAR ====================== */

.navbar {
    z-index: 1000;
    background-color: rgba(255, 255, 255, 0.971);
    height: 70px;
    /* backdrop-filter: blur(8px);
    -webkit-backdrop-filter: blur(8px); */
}

/* Logo */
.navbar .navbar-brand img {
    height: 60px;
    border-radius: 8px;
    object-fit: cover;
}

/* Brand text */
.navbar h5 {
    font-size: 22px;
    margin: 0;
}

/* Nav links */
.navbar .nav-link {
    color: #000;
    transition: all 0.2s ease;
    margin-top: 6px;
    position: relative;
}

.navbar .nav-link:hover {
    color: #0d6efd;
}

/* Cart */
.navbar .cart-count {
    font-size: 0.7rem;
}

/* Mega menu full width */
.navbar .dropdown-menu {
    left: 0;
    right: 0;
    top: 100%;
    border-radius: 0;
}

/* Dropdown item hover */
.dropdown-item:hover {
    background: transparent;
    color: #000;
    transform: translateX(4px);
    transition: 0.2s;
}

/* HOVER DROPDOWN (DESKTOP) */
@media (min-width: 992px) {
    .navbar .dropdown-menu {
        display: block;
        opacity: 0;
        visibility: hidden;
        transform: translateY(10px);
        transition: all 0.25s ease;
        pointer-events: none;
    }

    .navbar .dropdown:hover .dropdown-menu {
        opacity: 1;
        visibility: visible;
        transform: translateY(0);
        pointer-events: auto;
    }
}

/*  MOBILE RESPONSIVE  */

/* Tablet */
@media (max-width: 992px) {
    .navbar h5 {
        font-size: 18px;
    }

    .navbar .navbar-brand img {
        height: 50px;
    }

    .navbar .nav-link {
        margin-top: 0;
        padding: 8px 0;
    }
}

/* Mobile */
@media (max-width: 576px) {
    .navbar h5 {
        font-size: 16px;
    }

    .navbar .navbar-brand img {
        height: 45px;
    }

    .navbar {
        margin-bottom: 20px;
    }
}

/*  OFFCANVAS  */

.offcanvas-body .nav-link {
    font-size: 15px;
}

.offcanvas-body a {
    text-decoration: none;
}

.offcanvas-body a:hover {
    color: #0d6efd;
}

/* ==== CATEGORY NAVBAR ===== */

.category-navbar {
    position: fixed;
    top: 70px;
    width: 100%;
    /* background-color: rgba(177, 174, 174, 0.882); */
    background-color: #121212de;
    z-index: 998;
    /* border-bottom: 1px solid #eee; */
    backdrop-filter: blur(3px);
    -webkit-backdrop-filter: blur(3px);
}

/* menu */
.category-menu {
    list-style: none;
    padding: 10px 0;
    
}

/* parent */
.category-item {
    position: relative;
}

.category-link {
    text-decoration: none;
    color: white ;
    font-weight: 500;
    padding: 8px 0;
    display: inline-block;
    transition: 0.2s;
}

.category-link {
    display: flex;
    align-items: center;
    gap: 4px;
}

/* dropdown */
.subcategory-menu {
    position: absolute;
    top: 100%;
    left: 0;
    background: #fff;
    min-width: 220px;
    padding: 12px;
    border-radius: 8px;
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.08);

    opacity: 0;
    visibility: hidden;
    transform: translateY(10px);
    transition: 0.25s ease;
}

/* show on hover */
.category-item:hover .subcategory-menu {
    opacity: 1;
    visibility: visible;
    transform: translateY(0);
}

/* child links */
.subcategory-menu a {
    display: block;
    padding: 6px 10px;
    color: #555;
    text-decoration: none;
    font-size: 14px;
    transition: 0.2s;
}

.subcategory-menu a:hover {
    background: #f5f5f5;
    color: #000;
    padding-left: 14px;
}


/* arrow */
.category-arrow {
    font-size: 12px;
    transition: transform 0.25s ease;
    opacity: 0.8;
}

/* rotate on hover */
.category-item:hover .category-arrow {
    transform: rotate(180deg);
}


/* ===== MOBILE CATEGORY MENU ======*/

.category-parent {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 0;
    font-weight: 600;
    color: #000;
    text-decoration: none;
    border-bottom: 1px solid #f1f1f1;
}

.category-parent:hover {
    color: #0d6efd;
}

/* subcategory wrapper */
.subcategory-wrapper {
    padding-left: 12px;
    margin-top: 6px;
}

/* subcategory links */
.subcategory-link {
    display: block;
    padding: 6px 0;
    font-size: 14px;
    color: #666;
    text-decoration: none;
    transition: 0.2s;
}

.subcategory-link:hover {
    color: #000;
    padding-left: 6px;
}

/* arrow rotate animation */
.category-parent[aria-expanded="true"] i {
    transform: rotate(180deg);
    transition: 0.3s;
}

/* rotate arrow when open */
.category-toggle[aria-expanded="true"] .toggle-icon {
    transform: rotate(180deg);
}

.toggle-icon {
    transition: transform 0.3s ease;
}

/* ================= BANNER ================= */

.banner {
    position: relative;
    margin-top: 3.6rem;
}

@media (max-width: 576px) {
    .banner {
        margin-top: 0px;
    }
}

/* full slide */
.banner-bg {
    position: relative;
    width: 100%;
    height: 85vh;
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
}

/* overlay for text visibility */
.banner-overlay {
    position: absolute;
    inset: 0;
    background: linear-gradient(
        to right,
        rgba(0, 0, 0, 0.6),
        rgba(0, 0, 0, 0.2)
    );
}

/* content */
.banner-content {
    position: relative;
    z-index: 2;
    color: #fff;
    max-width: 600px;
    padding: 0 40px;
}

/* text */
.banner-content h2 {
    line-height: 1.1;
}

/* ==== RESPONSIVE ==== */

/* Tablet */
@media (max-width: 991px) {
    .banner-bg {
        height: 60vh;
        justify-content: center;
        text-align: center;
    }

    .banner-content {
        padding: 0 20px;
    }

    .banner-content h2 {
        font-size: 32px;
    }
}

/* Mobile */
@media (max-width: 576px) {
    .banner-bg {
        height: 50vh;
    }

    .banner-content h2 {
        font-size: 24px;
    }

    .banner-content button {
        font-size: 14px;
        padding: 8px 16px;
    }
}

/* ================= CATEGORY ================= */

.category-image {
    width: 100%;
    height: 350px;
    object-fit: cover;
    transition: transform 0.4s ease;
}

/* hover zoom */
.cat-item:hover .category-image {
    transform: scale(1.08);
}

/* overlay */
.category-content {
    background: rgba(0, 0, 0, 0.652);
    width: 100%;
}

/* tablet */
@media (max-width: 992px) {
    .category-image {
        height: 260px;
    }
}

/* mobile */
@media (max-width: 576px) {
    .category-image {
        height: 200px;
    }

    .category-content {
        padding: 15px !important;
    }

    .category-content h4 {
        font-size: 16px;
    }
}

/* =================== product card ================ */

.product-img {
    height: 350px !important;
    width: 100%;
    object-fit: cover;
    transition: transform 0.5s ease;
}

.image-holder:hover .product-img {
    transform: scale(1.08);
}

.add-to-cart {
    background-color: #000;
    color: #fff;
    border: none;
    border-radius: 6px;
    transition: all 0.3s ease;
    position: relative;
    overflow: hidden;
}

.add-to-cart:hover {
    background-color: #222;
    color: #fff;
    transform: scale(1.05);
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.659);
}

.add-to-cart::after {
    content: "";
    position: absolute;
    top: 0;
    left: -100%;
    width: 100%;
    height: 100%;
    background: linear-gradient(
        120deg,
        transparent,
        rgba(255, 255, 255, 0.3),
        transparent
    );
    transition: all 0.6s ease;
}

.add-to-cart:hover::after {
    left: 100%;
}

/* Product item discount badge */
.product-item .discount-price {
    position: absolute;
    top: 12px;
    right: 12px;
    z-index: 10;
    background: #fc2929e2;
    color: #fff;
    font-weight: 600;
    font-size: 0.9rem;
    padding: 6px 12px;
    border-radius: 50px;
    box-shadow: 0 3px 10px rgba(0, 0, 0, 0.2);
    letter-spacing: 0.5px;
    transition:
        transform 0.2s ease,
        box-shadow 0.2s ease;
}

/* subtle lift effect on hover */
.product-item:hover .discount-price {
    transform: scale(1.05);
    box-shadow: 0 4px 14px rgba(0, 0, 0, 0.25);
}

/* ==================== product filter ================== */
#filters .btn {
    border-radius: 20px;
    padding: 6px 14px;
    white-space: nowrap;
    transition: 0.2s;
}

/* Active */
#filters .is-checked {
    background-color: #000;
    color: #fff;
    border-color: #000;
}

/* Hover */
#filters .btn:hover {
    background-color: #000;
    color: #fff;
}

/* Mobile optimization */
@media (max-width: 576px) {
    #filters {
        justify-content: center;
    }

    #filters .btn {
        font-size: 12px;
        padding: 5px 10px;
    }
}

/*=========================  testimonial section =========================*/

/* ================= TESTIMONIAL ================= */
/* Image */
.review-image {
    width: 100%;
    aspect-ratio: 16/10;
    object-fit: cover;
}

/* Card hover */
.testimonial-item {
    transition: 0.3s;
}

.testimonial-item:hover {
    transform: translateY(-5px);
}

/* Desktop focus effect */
@media (min-width: 992px) {
    .testimonial-swiper .swiper-slide {
        opacity: 0.4;
        transform: scale(0.9);
        transition: 0.3s;
        width: 42%;
    }

    .testimonial-swiper .swiper-slide-active {
        opacity: 1;
        transform: scale(1);
    }
}

/*=========================  footer =========================*/
.footer-logo {
    height: 8rem;
    width: auto;
    border-radius: 10px;
}
